#brand {
  color: black;

}

.main , .main1 , .main2 , .main3 , .main4 , .main5{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 100vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main1{
  background-color: #f1f1f1;
}
.main2{
  background-color: #b6b6b6;
}
.main3{
  background-color: #969696;
}
.main4{
  background-color: #525252;
}
.main5{
  background-color: #333333;
}