#brand {
  color: black;

}

.center {

   text-align: center;
   margin: 0;
   padding: 0;
}
 .main1 , .main2 , .main3 , .main4 , .main5{
  margin-top: 20px;
  margin-bottom: 20px;
  /* height: 100vh; */
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main{
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px 20px 20px 20px;
  background-color: #5161ce;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}

.main1{
  background-color: #d1d1d1;
}
.main2{
  background-color: #b6b6b6;
}
.main3{
  background-color: #969696;
}
.main4{
  background-color: #525252;
}
.main5{
  background-color: #333333;
}